@model Step1ViewModel
@{
    ViewData["Title"] = "Choose Your location";
}

<form action="Step2" method="post">

    @foreach(var location in Model.Locations)
    {
        <input type="hidden" name="locationData" value="@location" />
    }

    <div class="form-group">
    <label for="location">Location: </label>
    <select id="location" name="locationId">
        @foreach (var location in Model.Locations)
        {
            <option value="@location.Id">@location.Name</option>
        }
    </select>

    <button class="btn btn-success" type="submit" id="to-step-2">
        Continue
    </button>
    </div>

</form>
